In [9]:
import gmaps
import gmaps.datasets
import numpy as np
import requests
import json
import pandas as pd
import base64

In [10]:
from test_environment_Homeaway import google_api_key

In [11]:
# Importing csv file which has all of the airbnb data from data world.

air = pd.read_csv("Airbnb_Texas_Rentals.csv")
# air2 = pd.read_csv("listings_summary.csv")
# airbig = pd.read_csv("listings.csv")
air.columns

Index(['Unnamed: 0', 'average_rate_per_night', 'bedrooms_count', 'city',
       'date_of_listing', 'description', 'latitude', 'longitude', 'title',
       'url'],
      dtype='object')

In [7]:
air.head(3)

,Unnamed: 0,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
0,1,$27,2,Humble,May 2016,Welcome to stay in private room with queen bed...,30.020138,-95.293996,2 Private rooms/bathroom 10min from IAH airport,https://www.airbnb.com/rooms/18520444?location...
1,2,$149,4,San Antonio,November 2010,"Stylish, fully remodeled home in upscale NW – ...",29.503068,-98.447688,Unique Location! Alamo Heights - Designer Insp...,https://www.airbnb.com/rooms/17481455?location...
2,3,$59,1,Houston,January 2017,'River house on island close to the city' \nA ...,29.829352,-95.081549,River house near the city,https://www.airbnb.com/rooms/16926307?location...

In [8]:
# Looking for all of the Nan data 
np.where(pd.isnull(air))

(array([   25,    25,    25,   103,   103,   103,   104,   104,   104,
          105,   105,   105,   167,   167,   167,   168,   168,   169,
          169,   169,   170,   170,   170,   171,   171,   171,   172,
          172,   172,   174,   174,   175,   175,   177,   177,   177,
          179,   179,   179,   180,   180,   180,   181,   181,   181,
          342,   342,   342,   343,   343,   343,   344,   344,   344,
          345,   345,   346,   346,   346,   362,   362,   362,   408,
          866,   866,   866,   867,   867,   867,   877,   877,   947,
          947,   947,   954,   954,  1120,  1120,  1120,  1122,  1122,
         1122,  1214,  1214,  1214,  1216,  1216,  1216,  1217,  1217,
         1217,  1218,  1218,  1218,  1219,  1219,  1219,  3849,  6875,
         7501,  9296, 14237, 16811, 17186]),
 array([1, 6, 7, 1, 6, 7, 1, 6, 7, 1, 6, 7, 1, 6, 7, 6, 7, 1, 6, 7, 1, 6,
        7, 1, 6, 7, 1, 6, 7, 6, 7, 6, 7, 1, 6, 7, 1, 6, 7, 1, 6, 7, 1, 6,
        7, 1, 6, 7, 1, 6, 7, 1, 6, 7, 6, 7, 1, 6, 7, 1, 6, 7, 5, 1, 6, 7,
        1, 6, 7, 6, 7, 1, 6, 7, 6, 7, 1, 6, 7, 1, 6, 7, 1, 6, 7, 1, 6, 7,
        1, 6, 7, 1, 6, 7, 1, 6, 7, 8, 2, 8, 8, 2, 2, 5]))

In [ ]:
# Deleting all of the nan data for the columns that are needed for google maps
air.dropna(subset=['latitude'], inplace=True)
air.dropna(subset=['longitude'], inplace=True)

In [ ]:
# Removing the $ sign from the average rate column and adding a new column without it
air["average_rate_per_night_float"] = air["average_rate_per_night"].str.replace('$', '')

In [ ]:
# Turning just the major city listings into a dataframe
austin = air[air["city"]=="Austin"]
sanantonio = air[air["city"]=="San Antonio"]
houston = air[air["city"]=="Houston"]
dallas = air[air["city"]=="Dallas"]
fortworth = air[air["city"]=="Fort Worth"]
corpus = air[air["city"]=="Corpus Christi"]
nb = air[air["city"]=="New Braunfels"]

In [ ]:
austin.head(3)

In [ ]:
gmaps.configure(api_key=google_api_key)

In [ ]:
# type(austin["longitude"])
# np.where(pd.isnull(austin))
# austin.dropna(subset=['latitude'], inplace=True)

In [ ]:
austin.count()

In [ ]:
# Adding a new average rate column without the evil $ sign
austin["average_rate_per_night_float"] = austin["average_rate_per_night"].str.replace('$', '')

In [ ]:
# Giving the gmaps function a float column to work with
weights = austin['average_rate_per_night_float'].astype("float")

In [ ]:
locations = austin[['latitude', 'longitude']]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

In [ ]:
weights = houston['average_rate_per_night_float'].astype("float")

locations = houston[['latitude', 'longitude']]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

In [ ]:
# weights = nb['average_rate_per_night_float'].astype("float")

# locations = nb[['latitude', 'longitude']]
# fig = gmaps.figure()
# fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
# fig

In [ ]:
airbig.head(15)

In [ ]:
#from bs4 import BeautifulSoup
pd.read_html("https://www.w3schools.com/html/html_tables.asp", match=".+" )